
html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
    --black: #C5DDFC;
    --white: #342009;
    --beige: beige;
    --grey: #474747;

    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    }
    
    
h1 {
    font-size: var(--h1);
  }
  
  h2 {
    font-size: var(--h2);
  }
  
  h3 {
    font-size: var(--h3);
  }
  

  .hidden {
    display: none;
  }